* {
  box-sizing: border-box;
}
svg {
  -webkit-user-select: none;
}
#doc {
  width:1000px;
  margin:0px auto;
}
input {
  width:50px;
  font-size:16px;
  padding:6px;
  text-align:center;
  outline:none;
  border:2px solid #333;
  border-radius:2px;
}
input.error {
  color:red;
}
#inputA input {
}
#inputB input {
}

#equation > div.content {
  height:100%;
  width:100%;
  text-align:center;
}
#equation > div.content > div {
  display:inline-block;
  vertical-align:top;
  font-size:64px;
  padding:18px;
  position:relative;
  width:70px;
  text-align:center;
}
#equation > div.content > div.x > input {
  position:absolute;
  top:37px;
}
#equation > div.content > div.active {
  border-radius:3px;
  background:#F2DE79;
}
